:root {
    --danger: #ff0000;
    --success: #148a4d;
    --warning: #f46e00;
    --info: #0065c8;

    --warning-light: #f8cd46;
    --warning-dark: #684f1d;
    --success-light: #c6f6d5;
    --success-dark: #38a169;
    --danger-light: #fed7d7;
    --danger-dark: #d0323e;
    --info-light: #bee3f8;
    --info-dark: #3182ce;

    --primary: rgba(29, 29, 29, 1);
    --primary-dark: rgba(0, 0, 0, 1);
    --primary-70: rgba(29, 29, 29, 0.7);
    --primary-50: rgba(29, 29, 29, 0.5);
    --primary-30: rgba(29, 29, 29, 0.3);
    --primary-10: rgba(29, 29, 29, 0.1);
}
